<?xml version="1.0"?>
<configuration>
 
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=ORCL;Persist Security Info=True;User ID=system;Password=password;Unicode=True" providerName="System.Data.OracleClient"/>
    <add name="ConnectionString2" connectionString="Data Source=ORCL;User ID=system;Password=password;Unicode=True" providerName="System.Data.OracleClient"/>
    <add name="ConnectionString3" connectionString="Data Source=ORCL;User ID=system;Password=password;Unicode=True" providerName="System.Data.OracleClient"/>
    <add name="ConnectionString4" connectionString="Data Source=ORCL;Persist Security Info=True;User ID=hr;Password=password;Unicode=True" providerName="System.Data.OracleClient"/>
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      
      <assemblies>
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Windows.Forms.DataVisualization.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="Microsoft.JScript, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.Data.Services.Client, Version=5.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
     
    </compilation>
   
  </system.web>
  <appSettings>
    <add key="microsoft.visualstudio.teamsystems.backupinfo" value="1;web.config.backup"/>
    <add key="microsoft.visualstudio.teamsystems.aspnetdevserver:/login" value="2939;True;5356;1;-8586521745403249927"/>
    <add key="webpages:Enabled" value="true" />
  </appSettings>
</configuration>